<div class="container-fluid">
    <h1 class='head-text'>Add Shift</h1>
    <div class="row justify-content-center" style="height: 300px;">
        <div class="col-4">
            <ul id="showdatetime"class="open-list ">
                <!-- <li style="font-size: 18; padding-left: 30;">Date: 05-23-2019</li>
                <li style="font-size: 18; padding-left: 30;">Date: 05-24-2019</li>
                <li style="font-size: 18; padding-left: 30;">Date: 05-25-2019</li>
                <li style="font-size: 18; padding-left: 30;">Date: 05-26-2019</li>
                <li style="font-size: 18; padding-left: 30;">Date: 05-27-2019</li>
                <li style="font-size: 18; padding-left: 30;">Date: 05-28-2019</li> -->
            </ul>
        </div>
        <!-- <div class="col-4">
            <ul class="open-list ">

            </ul>
        </div> -->
    </div>
</div>
<div class="container-fluid">
    <div class="container" >

    </div>
</div>

