<div id="showMovie"class="container-form">
    <div class='col-12' style='padding:2px;'>

        <span class='head-text level2'>Schedule</span>
        <ul class='open-list' id='Schedule'>
            <tr>
                <th>ScheduleNo</th>
                <th>MovieNo</th>
                <th>TheatreCode</th>
                <th>Date</th>
                <th>Time</th>
                <th>Audio</th>
                <th>Dimension</th>
                <th>Subtitle</th>
            </tr>
        </ul>
    </div>
    <button type="button" id="next" class="btn btn-white btn-outline-light">Edit</button>
                        <button class="btn btn-white btn-outline-light" role="button">Back</button>
</div>

<script src="scripts/movie.js"></script>