<div class="row justify-content-start align-items-center">
    <div class="col-6">
        <ul class="open-list mb-0" id="listAnalysisTable" style="margin-left: 10px;">
            <li class="AnalysisOpt">Number customer per Branch of Movie</li>
            <li class="AnalysisOpt">Number customer per Branch of Genre</li>
            <li class="AnalysisOpt">Customer age per Branch of Movie</li>
            <li class="AnalysisOpt">Customer age per Branch of Genre</li>
            <li class="AnalysisOpt">Total revenue per Branch of Movie</li>
            <li class="AnalysisOpt">Total revenue per Branch of Genre</li>
            <li class="AnalysisOpt">Total revenue per Branch of Studio</li>
            <li class="AnalysisOpt">Number customer revenue per Week of Branch</li>
            <li class="AnalysisOpt">Number schedule per Movie of Branch</li>
            <li class="AnalysisOpt">Duration of schedule per Movie of Branch</li>
            <li class="AnalysisOpt">Number customer per Audio of Genre</li>
            <li class="AnalysisOpt">Number customer per Branch of Audio</li>
            <li class="AnalysisOpt">Duration of Staff works per Branch</li>
            <li class="AnalysisOpt">Number coupon used per Branch of Movie</li>
            <li class="AnalysisOpt">Number coupon used per Movie of Branch</li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="open-list mb-0" id="ResultAnalysis">
            <li class="Result">A:test1 B:test2 C:test3</li>
        </ul>
    </div>
</div>
<script src="scripts/analysis.js"></script>