<div class="row justify-content-start align-items-center">
    <div class="col-6">
        <ul class="open-list mb-0" id="listAnalysisTable" style="margin-left: 10px;">
            <li class="AnalysisOpt" value="0">Number customer per Branch of Movie</li>
            <li class="AnalysisOpt" value="1">Number customer per Branch of Genre</li>
            <li class="AnalysisOpt" value="2">Customer age per Branch of Movie</li>
            <li class="AnalysisOpt" value="3">Customer age per Branch of Genre</li>
            <li class="AnalysisOpt" value="4">Total revenue per Branch of Movie</li>
            <li class="AnalysisOpt" value="5">Total revenue per Branch of Genre</li>
            <li class="AnalysisOpt" value="6">Total revenue per Branch of Studio</li>
            <li class="AnalysisOpt" value="7">Total revenue per Week of Branch</li>
            <li class="AnalysisOpt" value="8">Number Customer per week of branch</li>
            <li class="AnalysisOpt" value="9">Number Customer per branch of weekday</li>
            <li class="AnalysisOpt" value="10">Number schedule per Branch of Movie</li>
            <li class="AnalysisOpt" value="11">Number schedule per Branch of Genre</li>
            <li class="AnalysisOpt" value="12">Number coupon used per Branch of Movie</li>
            <li class="AnalysisOpt" value="13">Number coupon used per Movie of Branch</li>
            <li class="AnalysisOpt" value="14">Duration of schedule per Branch of Movie</li>

        </ul>
    </div>
    <div class="col-6">
        <ul class="open-list mb-0" id="ResultAnalysis"></ul>
    </div>
</div>
<script src="scripts/analysis.js"></script>