

<div class="container col-xl-9 col-lg-8 col-md-7 col-sm-7 col-6">
    <div class="col-6">
        <h3 class='head-text'>Movie</h3>
            <div class='col noom' id="listMovieTable">
                <label class="container text-left"><input type="checkbox" onClick="toggle(this)" /> Select All<br/></label>
                    <tbody>
                        </tbody>
                </div>
            </div>

        <div class="col-6">
            <h3 class='head-text'>Branch</h3>
                <div class='col noom' id="TheatreBranchTable">
                        <label class="container text-left"><input type="checkbox" onClick="toggle1(this)" /> Select All<br/></label>
                        <tbody>
                            </tbody>
                    </div>
            </div>
    </div>