<div id="editMovieForm" class="container-fluid"> 
    <form id="movie">
        <span class='head-text level3'>MovieName</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="MovieName"  name="MovieName"required><br>
        <span class='head-text level3'>Director</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Director" name="Director"required><br>
        <span class='head-text level3'>Casts</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Casts"  name="Casts"required><br>
        <span class='head-text level3'>Desc</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Desc"  name="Desc"required><br>
        <span class='head-text level3'>Duration</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Duration"  name="Duration"required><br>
        <span class='head-text level3'>Rate</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Rate"  name="Rate"required><br>
        <span class='head-text level3'>Genre</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Genre"  name="Genre"required><br>
        <span class='head-text level3'>Studio</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Studio"  name="Studio"required><br>
        <span class='head-text level3'>PosterURL</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="PosterURL"  name="PosterURL"required><br>
        <!-- <span class='head-text level3'>branch</span>
            <select name="Branch" id="Branch" class="form-control-plaintext text-white"></select>
                <br><br>   เปลี่ยนไปใช้ ul-liแทน -->
    </form>
</div>