<div class="container-fluid">
        <div class="col order-last">
                <span class='head-text level2'>Info</span>
                <ul id="config-list" class='open-list'>
                        <div class="form-group">
                                <label ><strong>Start Date</strong></label>
                                <input name="DateStart" id="DateStart" class="form-control-plaintext text-white" type="date"required></input>
                        </div>
                        
                        <div class="form-group">
                                <label ><strong>End Date</strong></label>
                                <input name="DateEnd" id="DateEnd" class="form-control-plaintext text-white" type="date"></input>
                        </div>
                        
                        <div class="form-group">
                                <label ><strong>Audio</strong></label>
                                <select name="Audio" id="Audio" class="form-control-plaintext text-white">
                                <option class="form-control-plaintext" value="Thai">Thai</option>
                                <option class="form-control-plaintext" value="English">English</option>
                                </select>
                        </div>

                        <div class="form-group">
                                <label ><strong>Start Time</strong></label>
                                <input type="time" id="datetime24"class="form-control-plaintext text-white " data-format="HH:mm" data-template="HH : mm" name="StartTime" value="10:30"required>
                        </div>

                        <div class="form-group">
                                <label ><strong>Subtitle</strong></label>
                                <select name="SubTitle" id="SubTitle" class="form-control-plaintext text-white ">
                                <option class="form-control-plaintext" value="Thai">Thai</option>
                                <option class="form-control-plaintext" value="English">English</option>
                                </select>
                        </div>

                        <div class="form-group">
                                <label ><strong>Dimension</strong></label>
                                <select class="form-control-plaintext text-white" id="Dimension"  name="Dimension">
                                        <option class="form-control-plaintext" value="2D">2D</option>
                                        <option class="form-control-plaintext" value="3D">3D</option>
                                </select>
                        </div>
                </ul>
        </div>
</div>
