<div id="editMovieForm" class="container-fluid"> 
    <form id="movie">
        <span class='head-text level3'>MovieName</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="MovieName_Add"  name="MovieName"required><br>
        <span class='head-text level3'>Director</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Director_Add" name="Director"required><br>
        <span class='head-text level3'>Casts</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Casts_Add"  name="Casts"required><br>
        <span class='head-text level3'>Desc</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Desc_Add"  name="Desc"required><br>
        <span class='head-text level3'>Duration</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Duration_Add"  name="Duration"required><br>
        <span class='head-text level3'>Rate</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Rate_Add"  name="Rate"required><br>
        <span class='head-text level3'>Genre</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Genre_Add"  name="Genre"required><br>
        <span class='head-text level3'>Studio</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Studio_Add"  name="Studio"required><br>
        <span class='head-text level3'>PosterURL</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="PosterURL_Add"  name="PosterURL"required><br>
        <button class="btn btn-outline-light btn-white" id="EditMovieSucc">Sucress&emsp;</button>
        <button class="btn btn-outline-light btn-white" id="Cancel">Cancel&emsp;</button>
    </form>
</div>