
        <div id="movieForm" class="container-form">
            <span class='head-text'>Movie</span>
            <div class="row">
                <div class="col-sm-3" ></div>
                <div class="col-sm-6" >
                    <form action="/AddMovie" method="post">
                        <span class='head-text level3'>MovieName</span><br><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="MovieName"  name="MovieName"><br>
                        <span class='head-text level3'>Director</span><br><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Director" name="Director"><br>
                        <span class='head-text level3'>Casts</span><br><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Casts"  name="Casts"><br>
                        <span class='head-text level3'>Desc</span><br><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Desc"  name="Desc"><br>
                        <span class='head-text level3'>Duration</span><br><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Duration"  name="Duration"><br>
                        <span class='head-text level3'>Rate</span><br><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Rate"  name="Rate"><br>
                        <span class='head-text level3'>Genre</span><br><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Genre"  name="Genre"><br>
                        <span class='head-text level3'>Studio</span><br><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Studio"  name="Studio"><br>
                        <span class='head-text level3'>PosterURL</span><br><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="PosterURL"  name="PosterURL"><br>
                        <span class='head-text level3'>branch</span><br>
                            <select name="Branch" id="Branch" class="form-control-plaintext text-white"></select>
                                <br><br>
                        <button type="button" id="next" class="btn btn-white btn-outline-light">Next</button>
                        <button class="btn btn-white btn-outline-light" role="button">Reject</button>
                    </form>
                </div>
                <div class="col-sm-3"></div>
              </div>
        </div> 
        <div id="schduleForm" class="content-form" style="display: none;">
            <%- include schedule %>
        </div>

        <script src="scripts/movie.js"></script>
    
 
