<div id="movieForm" name="movieForm" class="container-form">
        <div class="row">
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                    <span class='head-text level2'>MovieInfo</span>
                    <ul class='open-list'>
                        <form id="movie">
                            <span class='head-text level3'>MovieName</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="MovieName"  name="MovieName"required><br>
                            <span class='head-text level3'>Director</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Director" name="Director"required><br>
                            <span class='head-text level3'>Casts</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Casts"  name="Casts"required><br>
                            <span class='head-text level3'>Desc</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Desc"  name="Desc"required><br>
                            <span class='head-text level3'>Duration</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Duration"  name="Duration"required><br>
                            <span class='head-text level3'>Rate</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Rate"  name="Rate"required><br>
                            <span class='head-text level3'>Genre</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Genre"  name="Genre"required><br>
                            <span class='head-text level3'>Studio</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="Studio"  name="Studio"required><br>
                            <span class='head-text level3'>PosterURL</span><input type="text" autocomplete="off" class="form-control-plaintext text-white pb-0 text-center" id="PosterURL"  name="PosterURL"required><br>
                            <!-- <span class='head-text level3'>branch</span>
                                <select name="Branch" id="Branch" class="form-control-plaintext text-white"></select>
                                    <br><br>   เปลี่ยนไปใช้ ul-liแทน -->
                        </form>
                    </ul>
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                        <!-- schedule list -->
                        <span class='head-text level2'>schedule list</span>
                        <ul class='open-list' id="schedule-list"></ul>
            </div>
        </div>
        <div class="row">
                <ul class='open-list'>  <!-- แก้css -->
                        <div class="col order-first">
                                <span class='head-text level2'>Select branch</span>
                                <ul class='open-list' id='Branch'></ul>
                        </div>
                        <div class="col">
                                <span class='head-text level2'>Select theater</span>
                                <ul class='open-list' id='theater'></ul>
                        </div>
                        <div class="col order-last">
                                <span class='head-text level2'>Info</span>
                                <ul id="config-list" class='open-list'>
                                        <div class="form-group">
                                                <label ><strong>Start Date</strong></label>
                                                <input name="DateStart" id="DateStart" class="form-control-plaintext text-white" type="date"required></input>
                                        </div>
                                        
                                        <div class="form-group">
                                                <label ><strong>End Date</strong></label>
                                                <input name="DateEnd" id="DateEnd" class="form-control-plaintext text-white" type="date"></input>
                                        </div>
                                        
                                        <div class="form-group">
                                                <label ><strong>Audio</strong></label>
                                                <select name="Audio" id="Audio" class="form-control-plaintext text-white">
                                                <option class="form-control-plaintext" value="Thai">Thai</option>
                                                <option class="form-control-plaintext" value="English">English</option>
                                                </select>
                                        </div>

                                        <div class="form-group">
                                                <label ><strong>Start Time</strong></label>
                                                <input type="time" id="datetime24"class="form-control-plaintext text-white " data-format="HH:mm" data-template="HH : mm" name="StartTime" value="10:30"required>
                                        </div>

                                        <div class="form-group">
                                                <label ><strong>Subtitle</strong></label>
                                                <select name="SubTitle" id="SubTitle" class="form-control-plaintext text-white ">
                                                <option class="form-control-plaintext" value="Thai">Thai</option>
                                                <option class="form-control-plaintext" value="English">English</option>
                                                </select>
                                        </div>

                                        <div class="form-group">
                                                <label ><strong>Dimension</strong></label>
                                                <select class="form-control-plaintext text-white" id="Dimension"  name="Dimension">
                                                        <option class="form-control-plaintext" value="2D">2D</option>
                                                        <option class="form-control-plaintext" value="3D">3D</option>
                                                </select>
                                        </div>
                                </ul>
                        </div>
        
                <div class="mx-auto mt-4 text-right">
                        <button type="button" id="addSchedule" value="create"class="btn btn-white btn-outline-light">add</button> 
                </div>
                </ul>
        </div>
        <div class="mx-auto mt-4 text-center">
                <button type="button" id="createAllSchedule" value="create"class="btn btn-white btn-outline-light">create</button> 
                <button type="reset" id="cancelAllSchedule" class="btn btn-white btn-outline-light">cancel</button> 
        </div>


</div>



    <script src="scripts/movie.js"></script>