

<form action="'/movies'" method="post"> 
    <h3 class='head-text'>Schedule</h3>
    <div class='col-12 row'>
        <div class='col-6' style='padding:2px;'>
            <span class='head-text level2'>Select theater</span>
            <ul class='open-list' id='theater'></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label >Date</label>
            <input name="Date" id="Date" class="form-control-plaintext text-white" type="date"></input>
            <label >Audio</label>
            <select name="Audio" class="form-control-plaintext text-white">
                <option class="form-control-plaintext" value="Thai">Thai</option>
                <option class="form-control-plaintext" value="English">English</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label >Start Time</label>
            <input type="text" id="datetime24"class="form-control-plaintext text-white " data-format="HH:mm" data-template="HH : mm" name="StartTime" value="10:30">
            <label >Subtitle</label>
            <select name="SubTitle" class="form-control-plaintext text-white ">
                <option class="form-control-plaintext" value="Thai">Thai</option>
                <option class="form-control-plaintext" value="English">English</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label >Dimension</label>
            <select class="form-control-plaintext text-white" id="Dimension"  name="Dimension">
                <option class="form-control-plaintext" value="2D">2D</option>
                <option class="form-control-plaintext" value="3D">3D</option>
            </select>
        </div>
    </div>
    <div class="mx-auto mt-4 text-center">
        <button type="button" name="create" id="createSchedule" value="create"class="btn btn-white btn-outline-light">create</button>
        <button type="button" id="back" class="btn btn-white btn-outline-light">Back</button>
    </div>
    






 </form> 
 
 <!-- <script src="scripts/schedule.js"></script> -->
    