<div class='content-view' id='reservation-view'>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 head-group" style='margin-bottom: 10px;'>
                    <span class="head-text level1">Recent Reservations</span>
                    <span class="head-text level3">3 reservations</span>
                </div>
                <div class="col-3" style='padding: 0 5px;'>
                    <div style='height: 25px;font-weight:700;font-size: .75rem;'>Select By Issue Date</div>
                    <ul id='user-ticket-datebook' class="open-list" style='min-height: 100px;max-height: 100px;overflow-y: scroll'>
                        <li>node 1</li>
                        <li>node 2</li>
                        <li>node 3</li>
                    </ul>
                </div>
                <div class="col-3" style='padding: 0 5px;'>
                    <div style='height: 25px;font-weight:700;font-size: .75rem;'>Select By Schedule</div>
                    <ul id='user-ticket-schedule' class="open-list" style='min-height: 100px;max-height: 100px;overflow-y: scroll'>
                        <li>node 1</li>
                        <li>node 2</li>
                        <li>node 3</li>
                    </ul>
                </div>
                <div class="col-3" style='padding: 0 5px;'>
                    <div style='height: 25px;font-weight:700;font-size: .75rem;'>Select By Reservation No.</div>
                    <ul id='user-ticket-reservation' class="open-list" style='min-height: 100px;max-height: 100px;overflow-y: scroll'>
                        <li>node 1</li>
                        <li>node 2</li>
                        <li>node 3</li>
                    </ul>
                </div>
                <div class="col-12" style='padding: 0 5px;'>
                    <div style='height: 25px;font-weight:700;font-size: .75rem;'>Reservation Info.</div>
                    <ul id='user-ticket-detail' class="open-list non-select" style='padding:10px;min-height: 100px;height: fit-content;overflow-y: scroll'>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 head-group" style='margin-bottom: 10px;'>
                    <span class="head-text level1">Statistics</span>
                    <span class="head-text level3">3 reservations</span>
                </div>
                <div class="col-12 stat-showcase">
                    <label for="">
                        <div class="btn-green">
                            <div>300.-</div>
                            <div>Baht</div>
                        </div>
                        <span>Total Spending</span>    
                    </label>
                    <label for="">
                        <div class="btn-green">
                            <div>10</div>
                            <div>Movies</div>
                        </div>
                        <span>Watched Movie</span>  
                    </label>
                    <label for="">
                        <div class="btn-green">
                            <div>14.50</div>
                            <div>Hrs.</div>
                        </div>
                        <span>Hours Watched</span>  
                    </label>
                    <label for="">
                        <div class="btn-green">
                            <div>3</div>
                            <div>Reserved</div>
                        </div>
                        <span>Incoming Reservations</span>  
                    </label>
                    <label for="">
                        <div class="btn-green">
                            <div>2.5</div>
                            <div>Per Month</div>
                        </div>
                        <span>Avg. Reservation</span>  
                    </label>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>

</script>