<%- include('partials/header', {mode: 'admin'});  %>
        <div class='content-view'>
            <span class='head-text level0'>Dashboard</span>
        </div>
        <div class="content-view">
            <h3><span class="head-text">Movie&emsp;</span>
            <div>
                <button class="btn btn-outline-light btn-white" id="createMovie">Create&emsp;</button>
                <!-- <button class="btn btn-outline-light btn-white" id="ShowMovie">Show&emsp;</button> -->
            </div>
            </h3>
        </div>
        <div id="movieAndSchduleForm" class="content-form" style="display: none;">
            <%- include partials/movie-schedule %>
        </div>
        <!-- <div id="ShowMovieAll" class="content-form" style="display: none;">
            <%- include partials/allMovie %>
        </div> -->
        
        <div id="ShowMovieAll" class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" >
            <ul class='open-list' id='Movie' ></ul>
            <ul class='open-list' id='Schedule'style="display: none;">
                <tr>
                    <th>ScheduleNo</th>
                    <th>MovieNo</th>
                    <th>TheatreCode</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Audio</th>
                    <th>Dimension</th>
                    <th>Subtitle</th>
                </tr>
            </ul>

        
        </div>

<%- include partials/foot %> 