<%- include('partials/header', {mode: 'admin'});  %>
    <div class="content-view">
        <h3><span class="head-text">Staff Shift&emsp;</span>
        <button class="btn-white" id="createstaffshift" style="display: inline-block;">Create</button></h3>
        <br>
        <div class="row justify-content-start align-items-center">
            <div class="col-4">
                <ul class="open-list container-fluid border border-light" id="listStaff" style="overflow: auto; height: 160px;"></ul>
            </div>
            <div class="col-4">
                <div class="container-fluid border border-light" id="showdetailstaff" style="display: none;"> 
                    <ul class="open-list container-fluid border border-light" style="border: 0px !important;" id="detailstaff" style=" display: none;"></ul>
                    <div class="row pb-2">
                        <div class="mx-auto mt-3 text-center">
                            <button type="button" class="btn-white mr-5" style="display: inline-block;" id="editshift">Edit</button>
                            <button type="button" data-popup="delete-plan-popup" class="btn-white" style="display: inline-block;" id="deleteshift">Delete</button>  
                        </div>
                    </div>
                </div>
                  
            </div>
            <!-- <div class="col-4">
                <ul class="open-list container-fluid border border-light" id="select-shift" style="overflow: auto; height: 160px; display: none;"">
                        <div class="mx-auto mt-3 text-center " id="button-name">
                                <button type="button" class="btn-white" style="display: inline-block;" id="deleteshift">Delete</button>
                        </div>
                </ul>
            </div>                -->
        </div>
        
        <!-- <div class="mx-auto mt-3 text-center"></div>
                <div class="row pb-2">
                    <div class="mx-auto mt-3 text-center">
                        <button type="button" class="btn-white mr-5" style="display: inline-block;" id="callEditPlanForm">Edit</button>
                        <button type="button" data-popup="delete-plan-popup" class="btn-white" style="display: inline-block;" id="callDeletePlanForm">Delete</button>
                    </div>
                </div>
            </div>  -->
    </div>
    
    
    <div id="staffForm" class="content-form" style="display: none;">

        <%- include partials/staff %>
    </div>
    <div id="addShift" class="content-form" style="display: none;">
        <%- include partials/addshift %>
    </div>
<%- include partials/foot %> 
